.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70vh;
    h3 {
        font-size:3em;
        margin-bottom:.5em;
        font-family: 'Judson', serif;
        text-transform: lowercase;
        color:slategray;
    }
    p {
        width:50%;
        font-size:2em;
        text-align: center;
        line-height: 1.2em;
        font-family: 'Judson', serif;
        text-transform: lowercase;
        color:grey;
        a {
            color:grey;
            &:hover{
                color:#f03f35;
            }
        }
    }
}