main {
    height:80vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        margin-bottom:1.5em;
        h1 {
            font-size:5em;
            line-height: 1.2em;
            font-family: 'Archivo Black', sans-serif;
            text-transform: lowercase;
            color:#f03f35;
            text-align: center;
        }
        h4 {
            font-size:2em;
            line-height: 1.2em;
            font-family: 'Judson', serif;
            text-transform: lowercase;
            color:#f03f35;
            text-align: center;
        }
    }
    .sign {
        form {
            input {
                margin:.5em .25em;
                padding:.25em .5em;
                font-size:1.2em;
                font-family: 'Judson', serif;
                text-transform: lowercase;
            }
            .login {
                font-family: 'Judson', serif;
                text-transform: lowercase;
                border:none;
                cursor:pointer;
                font-size:1.2em;
                &:hover {
                    color:#f03f35;
                }
            }
        }
    }
    .signup {
        margin-top:1.5em;
        font-family: 'Judson', serif;
        text-transform: lowercase;
        border:none;
        cursor:pointer;
        font-size:2em;
        &:hover {
            color:#f03f35;
        }
    }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    .modal-header {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    form {
        h1 {
            font-size:2em;
            font-family: 'Judson', serif;
            text-transform: lowercase;
            line-height: 1.2em;
            margin-bottom:.7em;
            border-bottom: 1px solid black;
            text-align: center;
        }
        p {
            margin-top:1em;
            font-family: 'Judson', serif;
            text-transform: lowercase;
            text-align:center;
        }
        input {
            font-family: 'Judson', serif;
            text-transform: lowercase;
        }
        #signUpSubmit {
            margin-top:.25em;
            background-color:white;
            border-radius:0;
            color:black;
            font-family: 'Judson', serif;
            text-transform: lowercase;
            width:100%;
            &:hover{
                background-color:black;
                color:white;
            }
        }
    }
}