.listView {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top:4em;
    h1 {
        font-size:2em;
        line-height: 1.2em;
        font-family: 'Judson', serif;
        text-transform: lowercase;
        margin-bottom:1em;
        text-align:center;
        color:slategray;
    }
    ul {
        li {
            font-size:1.4em;
            line-height: 1.2em;
            font-family: 'Judson', serif;
            text-transform: lowercase;
            margin-bottom: 2em;
            color:grey;
            a {
                color:grey;
                &:hover {
                    color:#f03f35;
                }
            }
        }
    }    
}