.listView {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top:4em;
    background-color:#f5f1e6;
    div {
        padding:2em 3em;
        border: 4px dotted#8B89B9;
        h1 {
            font-size:2em;
            line-height: 1.2em;
            font-family: 'Judson', serif;
            text-transform: lowercase;
            margin-bottom:1em;
            text-align:center;
            border-bottom:.5px solid #8B89B9;
            color:#8B89B9;
        }
        ul {
            li {
                font-size:1.4em;
                line-height: 1.2em;
                font-family: 'Judson', serif;
                text-transform: lowercase;
                margin-bottom: 2em;
                color:#9F9CBF;
                a {
                    color:#9F9CBF;
                    &:hover {
                        color:#E89E81;
                    }
                }
            }
        }   
    }
   
}