#map {
    height: 86vh;
    width: 100vw;
}

#exampleModalCenter {
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:#f5f1e6;
        border-radius: 5px;
        .modal-header {
            display:flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            button {
                color:#9F9CBF;
            }
        }
        form {
            h1 {
                font-size:2em;
                font-family: 'Judson', serif;
                text-transform: lowercase;
                line-height: 1.2em;
                margin-bottom:.7em;
                color:#8B89B9;
                border-bottom: 1px solid #8B89B9;
            }
            h5 {
                font-size:1.2em;
                line-height: 1.2em;
                font-family: 'Judson', serif;
                text-transform: lowercase;
                color:#9F9CBF;
                margin-bottom:1em;
            }
            p {
                margin: 0 0 2em 0;
                font-family: 'Judson', serif;
                text-transform: lowercase;
                color:#4EB7E7;
            }
            input {
                background-color:#f5f1e6;
                font-family: 'Judson', serif;
                text-transform: lowercase;
                color:#D9726D;
                border:.5px solid #E89E81;
                &::placeholder {
                    color:#E89E81;
                }
            }
            #legacySubmit {
                margin-top:.25em;
                background-color:#f5f1e6;
                border-radius:0;
                color:#9F9CBF;
                font-family: 'Judson', serif;
                text-transform: lowercase;
                border:.5px solid #9F9CBF;
                &:hover{
                    background-color:#9F9CBF;
                    color:#f5f1e6;
                }
            }
        }
    }
}


.pac-container {
    background-color: #f5f1e6;
    position: absolute!important;
    z-index: 10000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 16px;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px
}
.hdpi.pac-logo:after {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)
}
.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border: 1px solid #8B89B9;
    font-size:11px;
    color: rgb(0, 0, 0) !important;
}
.pac-item:hover {
    background-color: lightgray;
}
.pac-item-selected, .pac-item-selected:hover {
    background-color: #ebf2fe
}
.pac-matched {
    font-weight: 700;
}
.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000;
    z-index: 20000;
    margin: 0;
}
.pac-icon {
    display: none;
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    background-size: 34px;
}
.pac-item-selected .pac-icon-search {
    background-position: -18px -1px;
}
.pac-icon-marker {
    background-position: -1px -161px;
    display: none;
}
.pac-item-selected .pac-icon-marker {
    background-position: -18px -161px;
}
.pac-placeholder {
    color: gray;
}
.pac-item span {
  color: #000 !important;
  margin: 0;
}
