@import 'reset';

// landing page
body {
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(100,100,100,.35)), url('../images/TEMP_historical_map_of_san_francisco.jpg');
    background-size: cover;
}

h1 {
    font-size: 3em;
    margin-bottom: 3%;
    font-weight: bold;
    color: #FFFFFF;
}

.login {
    border: 2px solid #6d6d6d;
    border-radius: 5px;
    height: 4vh;
    font-size: .75em;
    margin: .5%;
    text-align: center;
}

#loginEmail, #loginPassword {
    width: 25vw;
}

#formLogin {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

input[type=submit] {
    background-color: #4CAF50;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#buttonModal {
    font-size: .85em;
    color: #FFFFFF;
    background: transparent;
    border: none;
}

#buttonModal:hover {
    text-decoration: underline;
    font-weight: bold;
}

.close {
    float: right;
    font-size: 1em;
    font-weight: 700;
    line-height: 0;
    color: #000000;
    text-shadow: none;
    opacity: .5;
}

span {
    margin-left: 95%;
}

#formSignUp, #legacyForm {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.signUp {
    border: 2px solid black;
    height: 4vh;
    font-size: .85em;
    margin: .5%;
    text-align: center;
    width: 90%;
}

// map

h2 {
    font-size: 2em;
    font-weight: bold;
    color: #27251F;
    text-align: center;
}

nav {
    background: #FD5A1E;
    border-top: 2.5px solid #27251F;
    border-bottom: 3px solid #27251F;
    padding: 1.25%;
    display: flex;
    justify-content: center;
}

.navbar {
    font-size: 1.1em;
    color: #27251F;
    background: #FD5A1E;
    border: 1px solid #EFD19F;
    border-radius: 15px;
    margin: 0 auto;
}

.navbar:focus {
    color: #FD5A1E;
    background: #27251F;
}

#legacySearch {
    background: transparent;
    position: fixed;
    z-index: 1;
    width: 50%;
    margin-top: 100px;
    margin-left: 75px;
}

.my-new-list {
    color: #000000;
    background-color: rgba(39,37,31,.4);
    font-style: italic;
}

#search {
    width: 60%;
}

#map {
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#legacySubmit {
    margin: 0 auto;
}

footer {
    background-color: #27251F;
    height: 7%;
    border-top: 2.5px solid #EFD19F;
    display: flex;
    justify-content: space-around;
    padding: 1.25%;
    align-items: center;
    color: #EFD19F;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.15em;
}

a:hover, #logout:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #EFD19F;
}

#logout {
    background: transparent;
    color: #EFD19F;
    border: none;
    font-size: 1.15em;
}

// about and contact

#parallax1 {
    background-image: url('../images/vesuvio.jpg');
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax2 {
    background-image: url('../images/its_tops.jpg');
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax3 {
    background-image: url('../images/vesuvio.jpg');
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.about {
    background-color: #dadada;

}

#formContact {
    padding: 2%;
    font-size: 1.25em;
    height: 100%;
}

h3 {
    text-align: center;
    font-size: 1.75em;
}

p {
    font-size: 1.25em;
}

// nat added
.error-message {
	margin: -8px 0 12px;
  text-align: left;
  font-size: .9rem;
  color: #ED5254;
  display: none;
}

.error {
	border: 2px solid #ED5254;
}

.leaflet-gac-wrapper {
    height: 30px;
}

.leaflet-control-container .leaflet-gac-control {
    width: 300px;
    height: 30px;
    padding: 0 7px;
    border-radius: 5px;
    border: 1px #d0d0d0 solid;
}

.leaflet-control-container .leaflet-right .leaflet-gac-control {
    position: absolute;
    right: 0;
    transition: width .3s ease .15s;
}

.leaflet-control-container .leaflet-gac-control:focus {
    outline: none;
}

.leaflet-control-container .leaflet-gac-search-btn {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.leaflet-control-container .leaflet-gac-search-btn .leaflet-gac-search-icon {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABOUlEQVQ4T6XTLUgmQRgH8N+Ligd+FOu1ww+wKPhxlwxXxHYnqCAGQZtgMBgU4eWaXLhyCgYxiAYVk6igJotgEaNiNYgGL6kHJwOzsO+yGzw3zszzm5nnP1vyzq+UU9+JUbTiCWdYw13eXmmgCr8wlbPwERPYys6lgVA8jSvM4RQfMIQF1KIfR2kkAdpxiRv04CGzUx9OcI02/EvmE+AH5jGG9YK+bmMQ3TjPApsYQXPcJc+Ywc/Y4I0ssIpxdOCi4ATl2Ivv2M0Ck1jBImZzgOrYoxZ8xG0WqI9Hb4pX2UkhNViKMe5jIC+FMPYVezGu4xhjHb7hUyx6wXDeFRK0C79jlMnYX4SmhZfZiwok7ymHwpBGyPs5RnaPRhzicxopAop+sYAc4Av+BPStQIAbsByffPl/gIrTvQLbJDoR8K3H6QAAAABJRU5ErkJggg==") no-repeat center center;
}

.leaflet-control-container .leaflet-gac-hidden {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width .3s ease .15s;
}