<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">  
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer></script>
    <script src="scripts/app.js" defer></script>

    <title>About Us</title>
</head>

<body>
        <div>
            <h2>flux capacEATor</h2>
            <h4>eat and drink your way through San Francisco history</h4>
        </div>

        <div id="parallax1"></div>
        
        <div class="about" id="a1">
            <h3>ABOUT</h3>
            <p>The flux capacEATor is an interactive map that connects users with bars and restaurants that have had a long lasting cultural impact on San Francisco. The main list is provided by SF Heritage (www.sfheritage.org), and can be supplemented by user-submitted suggestions.</p>
            <p>It's easy to read a history book or watch a documentary, but to walk into a place that has served their neighborhood and the community as a whole for decades - oftentimes run by the same family - is a feeling that cannot be conveyed through words or pictures. The flux capacEATor hopes to inspire people to step out of their comfort zone and make their own connection to the past.</p>
            <footer>
                <a href="map">Map</a>
                <a href="about#a2">Contact</a>
                <button id="logout" type="button">Logout</button>
            </footer>
        </div>

        <div id="parallax2"></div>

        <div class="about" id="a2">
            <h3>CONTACT</h3>
            <form id="formContact" autocomplete="off" method="GET" action="">
                <label>Name</label>
                    <input type="text" class="contact" name="name" placeholder="Your name">
                <label>Email Address</label>
                    <input type="text" class="contact" name="email" placeholder="Your email address">    
                <label>Subject</label>
                    <textarea id="subject" class="contact" name="subject" placeholder="Drop us a line" style="height:200px"></textarea>
                <input type="submit" value="Submit">
            </form>

            <footer>
                <a href="about#a1">About Us</a>
                <a href="map">Map</a>
                <button id="logout" type="button">Logout</button>
            </footer>
        </div>

        <!-- <div id="parallax3"></div> -->


</body>
</html>