<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">  
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer></script>
    <script src="../public/scripts/app.js" defer></script>

    <title>Document</title>
</head>

<body>
        <div>
            <h2>PROJECT ZERO ONE</h2>
        </div>

        <div id="parallax1"></div>
        
        <div class="about" style="height:100%;background-color:#dadada">
            <h3>ABOUT</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid iusto repudiandae commodi delectus facere quidem sed fugiat error corporis nam molestiae quae, similique assumenda eum accusantium quia. Deleniti, eos excepturi!</p>
        </div>

        <div id="parallax2"></div>

        <div class="about" style="height:100%;background-color:#dadada">
            <h3>CONTACT</h3>
            <form id="formContact" autocomplete="off" method="GET" action="">
                <label>First Name</label>
                    <input type="text" name="firstname" placeholder="Your name..">
                <label>Last Name</label>
                    <input type="text" name="lastname" placeholder="Your last name..">
                <label>Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
            </form>
        </div>

        <!-- <div id="parallax3"></div> -->
</body>
</html>