<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">  
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer></script>
    <!-- <script src="scripts/app.js" defer></script> -->

    <title>About Us</title>
</head>
<body>
    <header>
        <h2>SF Legacy Eats</h2>
        <h4>eat and drink your way through San Francisco history</h4>
        <nav>
            <a href="map">Map</a>
            <a href="list">List </a>
            <button id="logout" type="button">Logout</button>
        </nav>
    </header>
    <!-- <div id="parallax1"></div> -->
    <div class="about">
        <h3>About</h3>
        <p>SF Legacy Eats is an interactive map that connects users with bars and restaurants that have had a long lasting cultural impact on San Francisco. The main list is provided by SF Heritage (www.sfheritage.org), and can be supplemented by user-submitted suggestions.</p>
    </div>
    </div>
</body>
</html>