<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">  
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin="" defer></script>
    <!-- Geocoding Plugin -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"defer></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="scripts/app.js" defer></script>


    <title>Legacy SF</title>
</head>

<body>
    <div id="map"></div>
  
    <form id="legacyForm">    
        <div id="searchBox">
            <input type="text" name="addr" value="" id="search" size="10">
            <button type="button" onclick="addr_search();">Search</button>
            <div id="results"></div>
        </div>
        <input type="text" id="legacyName" name="name" placeholder="Name of bar or restaurant">
        <input type="text" id="legacyAddress" name="address" placeholder="Address">
        <input type="text" id="legacyYear" name="year" placeholder=" Year established">
        <input type="submit" id="legacySubmit" value="submit">
    </form>
    <main>
        <h1>PROJECT ZERO ONE</h1>

        <form id="formLogin" autocomplete="off" method="GET" action="/page">   
            <input type="text" class="login" id="loginName" name="name" placeholder="USERNAME">
            <input type="text" class="login" id="loginPassword" name="password" placeholder="PASSWORD"> 
            <input type="submit" class="login" id="loginSubmit" value="SUBMIT">
        </form>

        <button onclick="document.getElementById('landingModal').style.display='block'" id="buttonModal" class="modal">Sign Up</button>

        <div id="landingModal" class="modal">
            <span onclick="document.getElementById('landingModal').style.display='none'" class="modal">&times;</span>

            <form id="formSignUp" autocomplete="off" method="POST">
                <input type="text" class="signUp" id="signUpName" name="name" placeholder="USERNAME">
                <input type="text" class="signUp" id="signUpEmail" name="email" placeholder="EMAIL ADDRESS">
                <input type="text" class="signUp" id="signUpPassword" name="password" placeholder="PASSWORD">
                <input type="submit" class="signUp" id="signUpSubmit" value="SUBMIT">
            </form>
        </div>
        
    </main>

</body>

</html>