<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">  

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer></script>
    <script src="scripts/app.js" defer></script>
    <title>SF Legacy Eats</title>
</head>
<body>
    <main>
        <div class = "title">
            <h1>SF Legacy Eats</h1>
            <h4>eat and drink your way through San Francisco history</h4>
        </div>
        <div class ="sign">
            <p class="error-message">Incorrect Email or Password</p>  
            <form id="formLogin" autocomplete="off"> 
                <input type="text"  id="loginEmail" name="email" placeholder="Email" required>
                <input type="password" id="loginPassword" name="password" placeholder="Password" required> 
                <input type="submit" class="login" id="loginSubmit" value="Login">
            </form>
        </div>
        <div>
            <!-- Button trigger modal -->
            <button id="buttonModal" class="signup" data-toggle="modal" data-target="#exampleModalCenter">Sign Up</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <form id="formSignUp" autocomplete="off">
                        <h1>Create an account</h1>
                        <div class="modal-body">
                            <div>
                                <input type="text" class="signUp" id="signUpName" name="name" placeholder="Name" required>
                            </div>
                            <div>
                                <input type="email" class="signUp" id="signUpEmail" name="email" placeholder="Email Address" required>
                            </div>
                            <div>
                                <input type="password" class="signUp" id="signUpPassword" name="password" placeholder="Password" required>
                            </div>
                            <p id="duplicateMessage" class="error-message">Account already exists</p>
                        </div>
                        <div class="modal-footer">
                            <button id="signUpSubmit" type="submit" class="btn btn-secondary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>