<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="scripts/list.js" defer></script>

    <title>SF Legacy Eats</title>
</head>
<body>
    <header>
        <div>
            <h2>SF Legacy Eats</h2>
            <h4>eat and drink your way through San Francisco history</h4>
        </div>
        <nav>
            <a href="map"><i class="fas fa-map-marked-alt"></i></a>
            <a href="about"><i class="fas fa-info"></i></a>
            <button id="logout" type="button"><i class="fas fa-sign-out-alt"></i></button>
        </nav>
    </header>
    <div class="listView" style="overflow:scroll">
        <div class="legacyList">
            <h1>User Submitted</h1>
            <ul id="legacyList"></ul>
        </div>
        <div class="heritageList">
            <h1>SF Heritage Legacy Project</h1>
            <ul id="heritageList"></ul>
        </div>
    </div>
</body>
</html>