<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/styles/styles.css">

    <title>Map</title>
</head>

<body>

    <header>PROJECT ZERO ONE</header>
    <nav>
        <button id="map" class="navbar">Map</button>
        <button id="list" class="navbar">List</button>
        <button id="submit" class="navbar">Submit</button>
    </nav>
    <div id="centeredMap">
        <h2>map goes here</h2>

    </div>

</body>

</html>