/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#map {
  height: 80vh;
  width: 100vw;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.modal-content .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-content .modal-header h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.7em;
  border-bottom: 1px solid black;
}
.modal-content .modal-header h5 {
  font-size: 1.2em;
  line-height: 1.2em;
}
.modal-content .modal-header p {
  margin-top: 1em;
}
.modal-content form #legacySubmit {
  margin-top: 0.25em;
  background-color: white;
  border-radius: 0;
  color: black;
}
.modal-content form #legacySubmit:hover {
  background-color: black;
  color: white;
}

.pac-container {
  background-color: white;
  position: absolute !important;
  z-index: 10000;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.pac-logo:after {
  content: "";
  padding: 1px 1px 1px 0;
  height: 16px;
  text-align: right;
  display: block;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 120px 14px;
}

.hdpi.pac-logo:after {
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png);
}

.pac-item {
  cursor: default;
  padding: 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid #000000;
  font-size: 11px;
  color: black !important;
}

.pac-item:hover {
  background-color: lightgray;
}

.pac-item-selected, .pac-item-selected:hover {
  background-color: #ebf2fe;
}

.pac-matched {
  font-weight: 700;
}

.pac-item-query {
  font-size: 13px;
  padding-right: 3px;
  color: #000;
  z-index: 20000;
  margin: 0;
}

.pac-icon {
  display: none;
  width: 15px;
  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  background-size: 34px;
}

.pac-item-selected .pac-icon-search {
  background-position: -18px -1px;
}

.pac-icon-marker {
  background-position: -1px -161px;
  display: none;
}

.pac-item-selected .pac-icon-marker {
  background-position: -18px -161px;
}

.pac-placeholder {
  color: gray;
}

.pac-item span {
  color: #000 !important;
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 6em;
}
.about h3 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.about p {
  font-size: 1.3em;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
header h2 {
  font-size: 3em;
  line-height: 1.2em;
}
header h4 {
  font-size: 1.4em;
  line-height: 1.2em;
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: 2em 0 1em 0;
}
header nav a {
  color: black;
  font-size: 1.5em;
}
header nav a:hover {
  color: orange;
  text-decoration: none;
}

#addLegacy, #logout {
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
#addLegacy:hover, #logout:hover {
  color: orange;
}

#formSignUp, #legacyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
}

.signUp, #pac-input {
  border: 1px solid black;
  font-size: 1em;
  text-align: center;
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.25em 0;
}

.error-message {
  font-size: 1em;
  color: #ff0000;
  display: none;
  background: linear-gradient(rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0));
  height: 5%;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
