/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#map {
  height: 86vh;
  width: 100vw;
}

#exampleModalCenter .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f1e6;
  border-radius: 5px;
}
#exampleModalCenter .modal-content .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#exampleModalCenter .modal-content .modal-header button {
  color: #9F9CBF;
}
#exampleModalCenter .modal-content form h1 {
  font-size: 2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  line-height: 1.2em;
  margin-bottom: 0.7em;
  color: #8B89B9;
  border-bottom: 1px solid #8B89B9;
}
#exampleModalCenter .modal-content form h5 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  color: #9F9CBF;
  margin-bottom: 1em;
}
#exampleModalCenter .modal-content form p {
  margin: 0 0 2em 0;
  font-family: "Judson", serif;
  text-transform: lowercase;
  color: #4EB7E7;
}
#exampleModalCenter .modal-content form input {
  background-color: #f5f1e6;
  font-family: "Judson", serif;
  text-transform: lowercase;
  color: #D9726D;
  border: 0.5px solid #E89E81;
}
#exampleModalCenter .modal-content form input::placeholder {
  color: #E89E81;
}
#exampleModalCenter .modal-content form #legacySubmit {
  margin-top: 0.25em;
  background-color: #f5f1e6;
  border-radius: 0;
  color: #9F9CBF;
  font-family: "Judson", serif;
  text-transform: lowercase;
  border: 0.5px solid #9F9CBF;
}
#exampleModalCenter .modal-content form #legacySubmit:hover {
  background-color: #9F9CBF;
  color: #f5f1e6;
}

.pac-container {
  background-color: #f5f1e6;
  position: absolute !important;
  z-index: 10000;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.pac-logo:after {
  content: "";
  padding: 1px 1px 1px 0;
  height: 16px;
  text-align: right;
  display: block;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 120px 14px;
}

.hdpi.pac-logo:after {
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png);
}

.pac-item {
  cursor: default;
  padding: 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border: 1px solid #8B89B9;
  font-size: 11px;
  color: black !important;
}

.pac-item:hover {
  background-color: lightgray;
}

.pac-item-selected, .pac-item-selected:hover {
  background-color: #ebf2fe;
}

.pac-matched {
  font-weight: 700;
}

.pac-item-query {
  font-size: 13px;
  padding-right: 3px;
  color: #000;
  z-index: 20000;
  margin: 0;
}

.pac-icon {
  display: none;
  width: 15px;
  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  background-size: 34px;
}

.pac-item-selected .pac-icon-search {
  background-position: -18px -1px;
}

.pac-icon-marker {
  background-position: -1px -161px;
  display: none;
}

.pac-item-selected .pac-icon-marker {
  background-position: -18px -161px;
}

.pac-placeholder {
  color: gray;
}

.pac-item span {
  color: #000 !important;
  margin: 0;
}

.about-page {
  background-color: #f5f1e6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-page .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f1e6;
  border: 6px dotted #9ab66d;
  width: 55vw;
  height: 55vh;
}
.about-page .about h3 {
  font-size: 3em;
  margin-bottom: 0.5em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  color: #91af5f;
  border-bottom: 0.5px solid #9ab66d;
}
.about-page .about p {
  width: 79%;
  font-size: 2em;
  text-align: center;
  line-height: 1.2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  color: #acc387;
}
.about-page .about p a {
  color: #91af5f;
}
.about-page .about p a:hover {
  color: #E89E81;
}

.listView {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 4em;
  background-color: #f5f1e6;
}
.listView div {
  padding: 2em 3em;
  border: 4px dotted #8B89B9;
}
.listView div h1 {
  font-size: 2em;
  line-height: 1.2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 0.5px solid #8B89B9;
  color: #8B89B9;
}
.listView div ul li {
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  margin-bottom: 2em;
  color: #9F9CBF;
}
.listView div ul li a {
  color: #9F9CBF;
}
.listView div ul li a:hover {
  color: #E89E81;
}

main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/map_crop.png");
  background-size: cover;
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-right: 25em;
  padding-left: 0;
  width: 100%;
}
main .container .title {
  margin-bottom: 1.5em;
}
main .container .title h1 {
  font-size: 5em;
  line-height: 1.2em;
  font-family: "Archivo Black", sans-serif;
  text-transform: lowercase;
  color: #D9726D;
  text-align: center;
}
main .container .title h4 {
  font-size: 2em;
  line-height: 1.2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  color: #D9726D;
  text-align: center;
}
main .container .sign p {
  text-align: center;
  font-family: "Judson", serif;
  text-transform: lowercase;
  font-size: 1.2em;
  color: #4EB7E7;
}
main .container .sign form input {
  margin: 0.5em 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 5px;
  color: #D9726D;
}
main .container .sign form input::placeholder {
  color: #D9726D;
}
main .container .sign form .login {
  font-family: "Judson", serif;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  background: transparent;
  color: #D9726D;
}
main .container .sign form .login:hover {
  color: #4EB7E7;
}
main .container .signup {
  margin-top: 1.5em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
  font-size: 2em;
  background: transparent;
  color: #E89E81;
}
main .container .signup:hover {
  color: #D9726D;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.modal-content .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-content form h1 {
  font-size: 2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  line-height: 1.2em;
  margin-bottom: 0.7em;
  border-bottom: 1px solid black;
  text-align: center;
}
.modal-content form p {
  margin-top: 1em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  text-align: center;
}
.modal-content form input {
  font-family: "Judson", serif;
  text-transform: lowercase;
  color: #D9726D;
}
.modal-content form input::placeholder {
  color: #E89E81;
}
.modal-content form #signUpSubmit {
  margin-top: 0.25em;
  background-color: #f5f1e6;
  border-radius: 0;
  color: #9F9CBF;
  font-family: "Judson", serif;
  text-transform: lowercase;
  border: 0.5px solid #9F9CBF;
  width: 100%;
}
.modal-content form #signUpSubmit:hover {
  background-color: #9F9CBF;
  color: #f5f1e6;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0.5em 0;
  background-color: #fbf9f4;
}
header div {
  width: 60vw;
  margin-left: 2em;
}
header div h2 {
  font-size: 3em;
  line-height: 1.2em;
  font-family: "Archivo Black", sans-serif;
  text-transform: lowercase;
  color: #E89E81;
}
header div h4 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: "Judson", serif;
  text-transform: lowercase;
  color: #E89E81;
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  margin: 2em 0 1em 0;
}
header nav a {
  font-size: 1.5em;
}
header nav i {
  background-color: #fbf9f4;
  color: #E89E81;
}
header nav i:hover {
  color: #8B89B9;
}

#addLegacy, #logout {
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
#addLegacy:hover, #logout:hover {
  color: orange;
}

#formSignUp, #legacyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
}

.signUp, #pac-input {
  border: 1px solid black;
  font-size: 1em;
  text-align: center;
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.25em 0;
}

.error-message {
  font-size: 1em;
  display: none;
  height: 5%;
  flex-direction: column;
  justify-content: center;
  font-family: "Judson", serif;
}

/*# sourceMappingURL=styles.css.map */
